* {
    margin: 0;
    padding: 0;
}
.header{
    align-items: center;
    padding: 33px 0 20px 0;
}
body {
    font-family: sans-serif;
    background-color: #ffffff;
    color: #000000;
}
.header__nav{
    display: flex;
    gap: 27px;
    flex-wrap: wrap;
    margin-top: 7px;
    margin-left: -409px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 20;
    line-height: 14.7px; /* 105% */
    letter-spacing: 0.048px;
}
.header__auth{
    display: flex;
    gap: 31px;
    margin-top: 6px;
    margin-right: 24px;
    font-family: Roboto;
    font-size: 13px;
    
}
.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0% 0% 0% 3%;
  font-weight: 700;
  margin-top: -10px;
    padding-left: 24px;
}

.header__logo::before {
  content: "";
  display: block;
  width: 85px;
  height: 2px;
  background-color: #000;
  margin-left: -13px;
  margin-bottom: 11px;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 23px;
}
.btn-black {
    background-image: url('img/Rectangle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #ffffff;
    width: 87px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    cursor: pointer;
}